grpcio
grpcio-tools
google-api-core
googleapis-common-protos
grpc-gateway-protoc-gen-openapiv2
protobuf == 3.20.*
torch
scipy
numpy
attrs
sentence_transformers == 3.0.0
pandas == 2.2.0
scikit-learn == 1.5.0