@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 12.5% 96.86%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 210 100% 50%; /* A bright blue color */
        --primary-foreground: 210 100% 97%; /* Light blue for contrast */
        --secondary: 210 100% 36%; /* A darker blue */
        --secondary-foreground: 0 0% 100%;
        --muted: 210 12.5% 96.1%;
        --accent: 210 12.5% 96.1%;
        --accent-foreground: 210 100% 9%;
        --destructive: 0 84.2% 60.2%; /* Keeping red for destructive */
        --destructive-foreground: 0 0% 98%;
        --border: 210 12.5% 89.8%;
        --input: 210 12.5% 89.8%;
        --ring: 210 100% 50%; /* Blue ring */
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 210 100% 50%; /* A bright blue color */
        --primary-foreground: 210 100% 97%; /* Light blue for contrast */
        --secondary: 210 100% 26%; /* A darker blue */
        --secondary-foreground: 0 0% 98%;
        --muted: 210 12.5% 14.9%;
        --accent: 210 12.5% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%; /* Keeping red for destructive */
        --destructive-foreground: 0 0% 98%;
        --border: 210 12.5% 14.9%;
        --input: 210 12.5% 14.9%;
        --ring: 210 100% 50%; /* Blue ring */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body,
    #app {
        @apply bg-background text-foreground;
    }
}

.session-history-item {
    &:hover {
        .session-history-item__delete-button {
            display: block;
        }
    }
}

body:has(.dashboard) {
    overflow: hidden;
}

.chat {
    max-height: calc(100vh - 3.5rem);
    overflow-y: scroll;

    &__messages-area {
        height: calc(100vh - 142px);
    }
}

@media screen and (max-width: 768px) {
    .session-history-item {
        &__delete-button {
            display: block;
        }
    }
}
